.welcome-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
  }

  .welcome-content h3 {
    font-size: 32px;
    font-weight: 700;

    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
  }

  .welcome-content p {
    font-size: 16px;
    margin: 20px 0 40px;

    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
  }